.mes{
  width: 30%;
  margin: auto;
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.navBar a{
  background-color: #24252A;
  color: white;
  border: none;
}
.all{
  background-color: #525561;
}
