.todo{
  color: #FFEA00;
  font-size: 70px;
  font-weight: 700;
  display: flex;
}
.obj1{
  color: #24252A;
}

.container{
  background-color: #24252A;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 838px;
  max-width: 100%;
  min-height: 527px;
  margin-bottom: 60px;
}
.container p{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container button{
  background-color: #FFEA00;
  font-size: 14px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 15px;
  cursor: pointer;
  transition: .8s;
}
.container button:hover{
  background-color: #FFEA00;
  color: #edf0f1;
}
.container button.hidden{
  background-color: transparent;
  border-color: #24252A;
  color: #24252A;
  transition: 1.2s;
}
.container button.hidden:hover{
  background-color: #24252A;
  border-color: #24252A;
  color: #FFEA00;
}

.container form{
  //background-color: #24252A;
  //display: flex;
  //align-items: center;
  //justify-content: center;
  //flex-direction: column;
  //padding: 0 40px;
  //height: 100%;
}
.signIn{
  color: #FFEA00;
  font-size: 40px;
  transition: 1s;
  //margin-bottom: 10px;
}
.contentSingIn{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.contentSingIn2{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
}
.signIn:hover{
  color: #edf0f1;
  font-size: 40px;
}
.container input{
  background-color: #edf0f1;
  margin: 8px 0;
  //padding: 10px 15px;
  font-size: 13px;
  //width: 100%;
  outline: none;

}

.form-container{
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.input-group label{
  position: absolute;
  top: 48%;
  left: 78px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #FFEA00;
  padding: 0 5px;
  pointer-events: none;
  transition: .5s;
  font-weight: 500;

}
.input-group input{
  width: 300px;
  height: 50px;
  font-size: 18px;
  color: #FFEA00;
  background: transparent;
  border: 3px solid #FFEA00;
  outline: none;
  border-radius: 8px;
  margin-left: 65px;
  padding: 0 15px;
}

.input-group input:focus~label,
.input-group input:valid~label{
  top: 12px;
  font-size: 14px;
  background-color: #24252A;
}

.toggle{
  background-color: #FFEA00;
  height: 100%;
  color: #24252A;
  position: relative;
  left: -100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}
.container.active .toggle{
  transform: translateX(50%);
}


.toggle-panel{
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left{
  transform: translateX(-200%);
}

.container.active .toggle-left{
  transform: translateX(0);
}

.toggle-right{
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right{
  transform: translateX(200%);
}


.sign-up2{
  left: 50%;
  width: 50%;
  z-index: 2;
}

.container.active .sign-up2{
  transform: translateX(-100%);
}

.sign-in2{
  left: 50%;
  width: 50%;
  z-index: 1;
}

.toggle-container2{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  z-index: 1000;
}

.sign-in{
  left: 0;
  width: 50%;
  z-index: 2;

}

.sign-up{
  left: 0;
  width: 50%;
  z-index: 1;
}

.container.active .sign-up{
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}
.toggle-container{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  z-index: 1000;
}

.showMessage{
  height: 40px;
  width: 250px;
  display: flex;
  justify-content: center;
}
.message{
  background-color: #FFEA00;
  padding: 5px 10px 30px 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: 600;
  -webkit-animation: 1.2s ease 0s normal forwards 1 fadein;
  animation: 1.2s ease 0s normal forwards 1 fadein;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

