<header>
  <a class="logo">CarRental</a>
  <nav>
    <ul class="navBar">
      <li ><a class="navv" routerLink="/cars">Home</a></li>
      <li ><a class="navv" routerLink="my-cars">My cars</a></li>
      <li ><a class="navv" routerLink="/cars/manage">Add car</a></li>
      <li ><a class="navv" routerLink="my-rented-books">Rented cars</a></li>
      <li ><a class="navv" routerLink="my-returned-cars">Returned cars</a></li>
    </ul>
  </nav>
  <a class="cta"  ><button  class="contact">user</button>
  <button class="btn btn-link" type="button" (click)="logout()">
    <i class="fas fa-sign-out contact2"></i>

  </button>
  </a>
</header>

